#b {
    display: flex;
    justify-content: center;
    align-items: center;
}

#rock {
    margin-top: 150px;
    height: 50px;
    width: 100px;
}
#paper {
    margin-top: 150px;
    height: 50px;
    width: 100px;
}
#scissors {
    margin-top: 150px;
    height: 50px;
    width: 100px;
}

#scores {
    display: flex;
    justify-content: space-evenly;
}

#player-score {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#computer-score {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#output {
    display: flex;
    text-align: center;
    align-items: center;
    margin-left: 35px;
}

#reset {
    height: 50px;
    width: 100px;
}

#new-game {
    height: 50px;
    width: 100px;
}